.gallery {
  margin-top: 10px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 15px;
}
.gallery__link {
  display: flex;
}
.photo-card {
  width: 32%;
  display: flex;
  flex-direction: column;
}
img {
  width: 100%;
}

.info {
  display: flex;
  justify-content: space-around;
}

.info-desc {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button:disabled {
  background-color: #c1c1c1;
  cursor: not-allowed;
}
button.hidden {
  display: none;
}
.search-form {
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgb(87, 83, 158);
}
.search-form input {
  width: 300px;
  padding: 10px;
}

.search-form button {
  position: absolute;
  top: 2px;
  right: 1px;
  border: none;
  font-size: 25px;
  background-color: #ffffff;
}
.search-container {
  position: relative;
}
